.mw-datatable .ext-checkuser-compare-table-cell-dark {
	width: 200px;
	background: #eaecf0;

	a {
		font-weight: bold;
	}
}

.mw-special-Investigate {
	// Apply the text colors to the links.
	.oo-ui-tabOptionWidget a {
		color: inherit;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	// Seperate the tabs from the table
	.oo-ui-menuLayout-menu {
		margin-bottom: 1em;
	}
}
