@import ( reference ) 'mediawiki.skin.variables.less';

// Make the images appropriately tall in each step so that
// they fully display.
.ext-checkuser-temp-account-onboarding-dialog-image {
	background-color: #f4f9ff;
	height: 250px;
	background-position: center;
	background-repeat: no-repeat;
}

// Make the new line characters appear in the content of a step.
.ext-checkuser-temp-account-onboarding-dialog-content {
	white-space: pre-wrap;
}

// Modified copy of the styles in the OnboardingStepper.vue component in the
// mediawiki/extensions/GrowthExperiments repository.
.ext-checkuser-temp-account-onboarding-dialog-stepper {
	display: flex;
	font-size: @font-size-small;
	color: @color-subtle;
	align-items: center;

	&__label {
		margin-inline-end: @spacing-50;
	}

	&__dots {
		display: flex;
		align-items: center;
		height: @size-125;

		&__dot {
			background-color: @background-color-disabled;
			border-radius: @border-radius-circle;
			width: @size-50;
			height: @size-50;
			margin-inline-end: @spacing-50;

			&--active {
				background-color: @color-base;
			}
		}
	}
}

// Modified copy of the styles from the MultiPane.vue component in
// the mediawiki/extensions/GrowthExperiments repository.
.ext-checkuser-temp-account-onboarding-dialog-MultiPane {
	position: relative;
	overflow: hidden hidden;

	.ext-checkuser-temp-account-onboarding-right-enter-active,
	.ext-checkuser-temp-account-onboarding-right-leave-active,
	.ext-checkuser-temp-account-onboarding-left-enter-active,
	.ext-checkuser-temp-account-onboarding-left-leave-active {
		transition: all 500ms @animation-timing-function-base;
	}

	.ext-checkuser-temp-account-onboarding-right-enter-from {
		transform: translateX( @size-full );
	}

	.ext-checkuser-temp-account-onboarding-right-leave-to {
		transform: translateX( -@size-full );
	}

	.ext-checkuser-temp-account-onboarding-left-leave-to {
		transform: translateX( @size-full );
	}

	.ext-checkuser-temp-account-onboarding-left-enter-from {
		transform: translateX( -@size-full );
	}

	.ext-checkuser-temp-account-onboarding-right-leave-active,
	.ext-checkuser-temp-account-onboarding-left-leave-active {
		position: absolute;
	}
}
