<li>
	{{#showLinks}}
		{{{links}}}
		<span class="mw-changeslist-separator"></span>
	{{/showLinks}}
	{{timestamp}}
	<span class="mw-changeslist-separator"></span>
	<span{{#userLinkClass}} class="{{userLinkClass}}"{{/userLinkClass}}>
		{{{userLink}}}
	</span>
	{{{userToolLinks}}}
	{{#flags}}
		{{{ . }}}
	{{/flags}}
	{{{actionText}}}
	{{{comment}}}
	<div class="mw-checkuser-indented"><small>
		<strong>IP</strong>: {{{ipLink}}}{{#xff}}&#160;&#160;
		<span class="mw-checkuser-xff{{#xffTrusted}} mw-checkuser-xff-trusted{{/xffTrusted}}"><strong>XFF</strong>: {{{ . }}}</span>{{/xff}}
		&#160;&#160;<span class="mw-checkuser-agent">{{userAgent}}</span>
	</small></div>
</li>
