<li>
	{{{ipLink}}}
	{{#ip64Link}}
		<span class="mw-changeslist-links">{{{ip64Link}}}</span>
	{{/ip64Link}}
	<span class="mw-changeslist-links">{{{blockLink}}}</span>
	<span class="mw-changeslist-links">{{timeRange}}</span>
	<strong class="mw-checkuser-edits-count">{{editCount}}</strong>
	{{#ipEditCount}}
		<i class="mw-changeslist-links">{{ipEditCount}}</i>
	{{/ipEditCount}}
	{{{blockInfo}}}
	<div class="mw-checkuser-indented"><small>{{{toolLinks}}}</small></div>
</li>
